[submodule "Chem279_HW1"]
	path = Chem279_HW1
	url = https://github.com/Sahil-Patil-23/Chem279_HW1
[submodule "Chem279_HW2"]
	path = Chem279_HW2
	url = https://github.com/Sahil-Patil-23/Chem279_HW2
[submodule "Extended-Huckel-Program"]
	path = Extended-Huckel-Program
	url = https://github.com/Sahil-Patil-23/Extended-Huckel-Program
[submodule "Chem279_HW4"]
	path = Chem279_HW4
	url = https://github.com/Sahil-Patil-23/Chem279_HW4
[submodule "Chem279-HW5"]
	path = Chem279-HW5
	url = https://github.com/Sahil-Patil-23/Chem279-HW5
[submodule "Chem279_FinalProj"]
	path = Chem279_FinalProj
	url = https://github.com/Sahil-Patil-23/Chem279_FinalProj
